body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #a2cf6e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navigation-links ul {
  list-style: none;
  padding: 0;
}

.navigation-links li {
  margin-bottom: 10px;
}

.button-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 0px;
  border-radius: 3px;
  background-color: #4caf50;
  color: #fff;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #45a049;
}


form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}
h2{
  color: chocolate  

}
.consultar-saldo-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.input-container {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
button {
  background-color: #4caf50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #45a049;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 5px;
}
